/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 table.listado-proyectos {
    width: 100%;
    border: 1px solid rgba(0, 0, 100, 0.8);
}

table.listado-proyectos thead th,
table.listado-proyectos tbody th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

}


table.listado-proyectos tbody th {
    background-color: rgba(9, 24, 230, 0.1);
}

table.listado-proyectos tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-proyectos tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
} 

.contenedor {
	text-align: center; 
	margin-top: 50px; 
}

.miBoton{
    background-color: #4CAF50; 
	border: none; 
	color: white; 
	padding: 15px 32px; 
	text-align: center;
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px; 
	margin: 4px 2px; 
	cursor: pointer; 
	border-radius: 8px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.subtitulo {
    font-size: 24px; /* Establecer el tamaño de fuente */
    font-weight: bold; /* Establecer el grosor de la fuente */
    color: #333; /* Establecer el color de la fuente */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Convertir el texto en mayúsculas */
    letter-spacing: 2px; /* Establecer el espacio entre letras */
    margin-top: 50px; /* Agregar un margen superior */
}

.botones {
    text-align: center; 
	margin-top: 50px; 
  }
  
  .anterior {
    float: left;
    background-color: #f30707; 
	border: none; 
	color: white; 
	padding: 10px 27px; 
	text-align: center;
	text-decoration: none; 
	font-size: 13px; 
	margin: 4px 2px; 
	cursor: pointer; 
	border-radius: 8px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .siguiente {
    float: right;
    background-color: #4CAF50; 
	border: none; 
	color: white; 
	padding: 10px 27px; 
	text-align: center;
	text-decoration: none; 
	font-size: 13px; 
	margin: 4px 2px; 
	cursor: pointer; 
	border-radius: 8px; 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .prueba {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
  }